.node_modules
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
.bash_sessions/

# Build files
node_modules
android/
ios/
build/

# System files
.DS_Store
.env
*.lock

# IDE files
.vscode/
.idea/
*.iml
node_modules
